{% load static %}
<footer class="site-footer">
    <div class="container">
      <!-- Footer Inner Starts -->
        <div class="footer-inner ">
          <div class="row">
              <div class="col-lg-4  col-md-8 mb-30 mb-lg-0">
                
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 mb-30 mb-lg-0">
                <!-- Single Footer -->
                <div class="single-footer">
                    <h3 class="footer-title">Informacion</h3>
                  <ul class="footer-list">
                    <li><a href="#">
                    Marca Registrada Por El Dream Team</a></li>
                    
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 col-md-8 mb-30 mb-lg-0">
                <!-- Single Footer / Instagram Block-->
                
              </div>
            </div>
        </div>
      <!-- Footer Inner Starts -->
        
    </div>

    
  </footer>