{% extends 'base/base.html' %}
{% load static %}

{% block body %}
<!-- Site Wrapper Starts -->
<div class="site-wrapper">
    
    {% include 'base/navbarStatic.html' %}
    <!-- carrusel -->
    <div class="hero-area">
        <div class="banner-content-wrapper hero-slider-wrapper text-white">
            <div class="banner-content single-slide bg-image" data-bgimage="{% static 'image/bg-images/home-1/jpg.jpg' %}">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-10 col-md-10">
                            <h3 class="title--sm text-primary" data-animation="fadeInDown" data-duration="1.5s"
                                data-delay=".8s">Las mejores frutas</h3>
                            <h1 class="title--lg" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">
                                precios invatibles</h1>
                            <p class="center-align" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">
                                Son extremadamente ricos, productos super frescos traidos desde los valles mas frescos, si
                                por si no lo dije son super frescos.</p>
                            <div class="banner_btn" data-animation="fadeInUp" data-duration="1.5s" data-delay=".8s">
                                <a href="{% url 'tienda' %}" class="theme-btn">Tienda</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-content single-slide bg-image" data-bgimage="{% static 'image/bg-images/home-1/frutas-y-verduras-jpg.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-md-10">
                            <h3 class="title--sm text-primary" data-animation="fadeInDown" data-duration="1.5s"
                                data-delay=".8s">Las mejores verduras</h3>
                            <h1 class="title--lg title-seperator--1 sep-left" data-animation="fadeInLeft"
                                data-duration="1.5s" data-delay=".8s">Descubre nuestras cosechas</h1>
                            <p class="left-align" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">nuestro
                                amigos expertos en frutas ponen su experiencia y conocimiento para sembrar las mejores
                                colleciones de frutas para ti.</p>
                            <div class="banner_btn" data-animation="fadeInUp" data-duration="1.5s" data-delay=".8s">
                                <a href="{% url 'tienda' %}" class="theme-btn">Tienda</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-content single-slide bg-image" data-bgimage="{% static 'image/bg-images/home-1/otrajpg.jpg' %}">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-10 col-md-10 text-center">
                            <h3 class="title--sm text-primary" data-animation="fadeInDown" data-duration="1.5s"
                                data-delay=".8s">Lo mejor de lo mejor</h3>
                            <h1 class="title--lg" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">
                                perfecto en frutas y verduras de lujo</h1>
                            <p class="center-align" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">Nosotros
                                ofrecemos una gran variedad de frutas y verduras a todo precio, desde las mas jugosas
                                hasta las mas regalonas de su hijo <br> perfectas para tutifruti!</p>
                            <div class="banner_btn" data-animation="fadeInUp" data-duration="1.5s" data-delay=".8s">
                                <a href="{% url 'tienda' %}" class="theme-btn">Tienda</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mensaje de bienvenida -->
    <section class="home-welcome section-padding pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="welcome__description text-center">
                        <h3 class="welcome__title--sm">Bienvenido a TiendaByJorg</h3>
                        <h2 class="welcome__title--mid">Quienes somos</h2>
                        <p>Somos una nueva empresa de informatica en la cual somos especialistas en diseñar paginas web con todo los requerimiento posibles que el
                            cliente nos solicite para asi brindarle un servicio de calidad y seguridad al momento de diseñar la pagina web</p>
                        <div class="welcome_sig-image">
                            <img src="{% static 'image/others/signature-img.png' %}' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- promocion -->
    <section class="promo-section section-padding pb-0">
        <div class="container">
            <div class="row no-gutters-lg">
                <div class="col-lg-8 mb-30 mb-lg-0">
                    <div class="promo-details-mini">
                        <div class="promo-image">
                            <img src="{% static 'image/others/Frutas.jpg' %}" alt="Promo Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-30 mb-lg-0">
                    <div class="promo-details-mini bg-pattern-1">
                        <div class="promo-content">
                            <div class="promo-icon">
                                <img src="{% static 'image/icons/icon-grape.png' %}" alt="Promo Icon Image">
                            </div>
                            <div class="promo-description">
                                <h2>Frutas</h2>
                                <p>Las frutas son el mejor alimento para mantener una vida sana y te aportaran la energia necesaria para cumplir tus metas dia a dia,</p>
                                <div class="promo-btn">
                                    <a href="shop-grid--fullwidth-three.html"
                                        class="theme-btn">Tienda</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-30 mb-lg-0">
                    <div class="promo-details-mini bg-pattern-2">
                        <div class="promo-content">
                            <div class="promo-icon">
                                <img src="{% static 'image/icons/icon-resturant-2.png' %}" alt="Promo Icon Image">
                            </div>
                            <div class="promo-description">
                                <h2>Verduras</h2>
                                <p>Las verduras son el alimento necesario para crear nuestras ensaladas y poder tener energia en todo momento, son muy buenas para tener
                                    una vida sana ya que son un alimento natural y sano.</p>
                                <div class="promo-btn">
                                    <a href="shop-grid--fullwidth-three.html"
                                        class="theme-btn">Tienda</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-30 mb-lg-0">
                    <div class="promo-details-mini">
                        <div class="promo-image">
                            <img src="{% static 'image/others/verduras.jpg' %}" alt="Promo Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-30 mb-lg-0">
                    <div class="promo-details-mini">
                        <div class="promo-image">
                            <img src="{% static 'image/others/ensaladas.jpg' %}" alt="Promo Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    
    <!-- Site Bottom Starts -->
    <div class="site-bottom">
        <!-- Footer Starts -->
        {% include 'base/footer.html' %}
        <!-- Footer Ends -->
    </div>
    <!-- Site Footer Ends -->
</div>
<!-- Site Wrapper Ends -->
{% endblock %}