{% extends 'base/base.html' %}
{% load static %}

{% block body %}
<div class="site-wrapper belly-homepage--default">


    <!--navbar -->
    {% include 'base/navbarStatic.html' %}
    <!-- Navbar /ends -->

    <!-- Quick View Modal -->

    <div class="belly-bredcrumb-section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="">Shop</a></li>
            </ul>
        </div>
    </div>
    <section class="section-padding pt-0">
        <div class="container">
            <div class="shop-product-wrap grid with-pagination row">
                {% if producto  %}
                {% for product in products %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-30">
                    <div class="belly-product">
                        <div class="product__image">
                            <img src="{% static 'image/products/home-1/product-2.jpg' %}" alt="">
                            <div class="hover-content">
                                <a href="product-details.html" class="hover-image">
                                    <img src="{% static 'image/products/home-1/product-4.jpg' %}" alt="">
                                </a>
                            </div>
                            <span class="product-badge badge--sell-green"></span>
                        </div>

                        <div class="product-contents">
                            <h3 class="product__caption">
                                <a href="product-details.html">Fusce Aliquam</a>
                            </h3>
                            <div class="product__price">
                                <span class="price--new">$150</span>
                            </div>
                            <p class="product-info-para">
                                Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate,
                                tristique ut
                                lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et
                                ultrices posuere
                                cubilia Curae; Aenean eleifend laoreet congue. Viva..
                            </p>
                            <div class="product__btn">
                                <a href="cart.html" class="theme-btn-outlined--type-2">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h1>no hay regitro de productos </h1>
            {% endif %}
        </div>
    </section>

    <!-- Site Bottom Starts -->
    <div class="site-bottom">
        <!-- Footer Starts -->
        {% include 'base/footer.html' %}
        <!-- Footer Ends -->
    </div>
    <!-- Site Footer Ends -->
</div>
<!-- Site Wrapper Ends -->
{% endblock %}
{% block javascript%}

{% endblock %}