{% extends 'base/base.html' %}
{% load static %}

{% block body %}
<!-- Site Wrapper Starts -->
<div class="site-wrapper">
    
    {% include 'base/navbarStatic.html' %}
    <!-- carrusel -->
    <div class="hero-area">
        <div class="banner-content-wrapper hero-slider-wrapper text-white">
            <div class="banner-content single-slide bg-image" data-bgimage="{% static 'image/bg-images/home-1/slider-1.jpg' %}">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-10 col-md-10">
                            <h3 class="title--sm text-primary" data-animation="fadeInDown" data-duration="1.5s"
                                data-delay=".8s">Las mejores frutas</h3>
                            <h1 class="title--lg" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">
                                precios invatibles</h1>
                            <p class="center-align" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">We
                                son extremadamente ricos, productos super frescos traidos desde los valles mas frescos, si
                                por si no lo dije son super frescos.</p>
                            <div class="banner_btn" data-animation="fadeInUp" data-duration="1.5s" data-delay=".8s">
                                <a href="{% url 'tienda' %}" class="theme-btn">Tienda</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-content single-slide bg-image" data-bgimage="{% static 'image/bg-images/home-1/slider-2.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-md-10">
                            <h3 class="title--sm text-primary" data-animation="fadeInDown" data-duration="1.5s"
                                data-delay=".8s">Las mejores verduras</h3>
                            <h1 class="title--lg title-seperator--1 sep-left" data-animation="fadeInLeft"
                                data-duration="1.5s" data-delay=".8s">Descubre nuestras cosechas</h1>
                            <p class="left-align" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">nuestro
                                amigos expertos en frutas ponene su experiencia y conocimiento para sembrear las mejores
                                collecions de frutas balanceadas para ti.</p>
                            <div class="banner_btn" data-animation="fadeInUp" data-duration="1.5s" data-delay=".8s">
                                <a href="{% url 'tienda' %}" class="theme-btn">Tienda</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-content single-slide bg-image" data-bgimage="{% static 'image/bg-images/home-1/slider-3.jpg' %}">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-10 col-md-10 text-center">
                            <h3 class="title--sm text-primary" data-animation="fadeInDown" data-duration="1.5s"
                                data-delay=".8s">Lo mejor de lo mejor</h3>
                            <h1 class="title--lg" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">
                                perfecto en frutas y verduras de lujo</h1>
                            <p class="center-align" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">Nosotros
                                ofrecemos una gran variedad de frutas y verduras a todo precio y ocacion, desde las mas jugosas
                                hasta las mas regalonas de su hijo <br> perfectas para tutifruti!</p>
                            <div class="banner_btn" data-animation="fadeInUp" data-duration="1.5s" data-delay=".8s">
                                <a href="{% url 'tienda' %}" class="theme-btn">Tienda</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mensaje de bienvenida -->
    <section class="home-welcome section-padding pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="welcome__description text-center">
                        <h3 class="welcome__title--sm">Bienvenido a TiendaByJorg</h3>
                        <h2 class="welcome__title--mid">Quienes son los mejores</h2>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                            illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                            blandit praesent luptatum zzril delenit augue duis dolore te feugait.</p>
                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming.</p>
                        <div class="welcome_sig-image">
                            <img src="{% static 'image/others/signature-img.png' %}' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- promocion -->
    <section class="promo-section section-padding pb-0">
        <div class="container">
            <div class="row no-gutters-lg">
                <div class="col-lg-8 mb-30 mb-lg-0">
                    <div class="promo-details-mini">
                        <div class="promo-image">
                            <img src="{% static 'image/others/promo-product-big.jpg' %}" alt="Promo Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-30 mb-lg-0">
                    <div class="promo-details-mini bg-pattern-1">
                        <div class="promo-content">
                            <div class="promo-icon">
                                <img src="{% static 'image/icons/icon-wine.png' %}" alt="Promo Icon Image">
                            </div>
                            <div class="promo-description">
                                <h2>Amazing Red Wine</h2>
                                <p>Typi non habent claritatem insitam est usus legentis in iis qui facit eorum
                                    claritatem.
                                    Investigationes demonstraverunt lectores .</p>
                                <div class="promo-btn">
                                    <a href="shop-grid--fullwidth-three.html"
                                        class="theme-btn">Tienda</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-30 mb-lg-0">
                    <div class="promo-details-mini bg-pattern-2">
                        <div class="promo-content">
                            <div class="promo-icon">
                                <img src="{% static 'image/icons/icon-grape.png' %}" alt="Promo Icon Image">
                            </div>
                            <div class="promo-description">
                                <h2>Perfect White Wines</h2>
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                                    litterarum formas humanitatis.</p>
                                <div class="promo-btn">
                                    <a href="shop-grid--fullwidth-three.html"
                                        class="theme-btn">Tienda</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-30 mb-lg-0">
                    <div class="promo-details-mini">
                        <div class="promo-image">
                            <img src="{% static 'image/others/promo-product.jpg' %}" alt="Promo Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-30 mb-lg-0">
                    <div class="promo-details-mini">
                        <div class="promo-image">
                            <img src="{% static 'image/others/promo-product-2.jpg' %}" alt="Promo Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- productos reciente -->
    <section class=" home-1__product--new section-padding space-db--30">
        <div class="container">
            <div class="section-title section-title-sep-1">
                <h2>Recent Product</h2>
                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum.</p>
            </div>
            <div class="product-slider mini-items-slider">
                <div class="product__single-slide">
                    <div class="belly-product">
                        <div class="product__image">
                            <img src="{% static 'image/products/home-1/product-7.jpg' %}" alt="">
                            <div class="hover-content">
                                <a href="product-details.html" class="hover-image">
                                    <img src="{% static 'image/products/home-1/product-3.jpg' %}" alt="">
                                </a>
                                <div class="hover-btns">
                                    <a href="wishlist.html" class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                    <a href="compare.html" class="single-btn"><i class="ion-md-options"></i></a>
                                    <a href="#" class="single-btn" role="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                                </div>
                            </div>
                            <span class="product-badge badge--sell-chocolate"></span>
                        </div>
                        <div class="product-description text-center">
                            <h3 class="product__caption">
                                <a href="product-details.html">gusce Aliquam</a>
                            </h3>
                            <div class="rating-widget">
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star-half"></i></span>
                                <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                            </div>
                            <div class="product__price">
                                <span class="price--old">$150</span>
                                <span class="price--new">$150</span>
                            </div>
                            <div class="product__btn">
                                <a href="cart.html" class="theme-btn-outlined">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cosas nuevas  -->
    <div class="dicover-area">
        <div class="banner-content-wrapper banner-2">
            <div class="banner-content bg-image text-white" data-bgimage="{% static 'image/bg-images/home-1/welcome-bg.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <h3 class="title--sm">CRAFTED BY OUR WINEMAKERS</h3>
                            <h1 class="title--lg title-seperator--1 sep-left">Discover Our Wines - Belly Winery</h1>
                            <p class="left-align">Claritas est etiam processus dynamicus, qui sequitur mutationem
                                consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
                                claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta
                                decima.</p>
                            <div class="banner_btn">
                                <a href="shop-grid--fullwidth-three.html"
                                    class="theme-btn">Tienda</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- lo mas visto -->
    <section class="product--recent section-padding space-db--30">
        <div class="container">
            <div class="section-title section-title-sep-1">
                <h2>Most viewed Product</h2>
                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum.</p>
            </div>
            <div class="product-slider mini-items-slider">
                <div class="product__single-slide">
                    <div class="belly-product">
                        <div class="product__image">
                            <img src="{% static 'image/products/home-1/product-2.jpg' %}" alt="">
                            <div class="hover-content">
                                <a href="product-details.html" class="hover-image">
                                    <img src="{% static 'image/products/home-1/product-1.jpg' %}" alt="">
                                </a>
                                <div class="hover-btns">
                                    <a href="wishlist.html" class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                    <a href="compare.html" class="single-btn"><i class="ion-md-options"></i></a>
                                    <a href="#" class="single-btn" role="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                                </div>
                            </div>
                            <span class="product-badge badge--sell-chocolate"></span>
                        </div>
                        <div class="product-description text-center">
                            <h3 class="product__caption">
                                <a href="product-details.html">Bgsce Vliquam</a>
                            </h3>
                            <div class="rating-widget">
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star-half"></i></span>
                                <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                            </div>
                            <div class="product__price">
                                <span class="price--old">$150</span>
                                <span class="price--new">$150</span>
                            </div>
                            <div class="product__btn">
                                <a href="cart.html" class="theme-btn-outlined">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__single-slide">
                    <div class="belly-product">
                        <div class="product__image">
                            <img src="{% static 'image/products/home-1/product-3.jpg' %}" alt="">
                            <div class="hover-content">
                                <a href="product-details.html" class="hover-image">
                                    <img src="{% static 'image/products/home-1/product-4.jpg' %}" alt="">
                                </a>
                                <div class="hover-btns">
                                    <a href="wishlist.html" class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                    <a href="compare.html" class="single-btn"><i class="ion-md-options"></i></a>
                                    <a href="#" class="single-btn" role="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                                </div>
                            </div>
                            <span class="product-badge badge--sell-chocolate"></span>
                        </div>
                        <div class="product-description text-center">
                            <h3 class="product__caption">
                                <a href="product-details.html">Rsce Tiquam</a>
                            </h3>
                            <div class="rating-widget">
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star-half"></i></span>
                                <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                            </div>
                            <div class="product__price">
                                <span class="price--old">$150</span>
                                <span class="price--new">$150</span>
                            </div>
                            <div class="product__btn">
                                <a href="cart.html" class="theme-btn-outlined">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__single-slide">
                    <div class="belly-product">
                        <div class="product__image">
                            <img src="{% static 'image/products/home-1/product-5.jpg' %}" alt="">
                            <div class="hover-content">
                                <a href="product-details.html" class="hover-image">
                                    <img src="{% static 'image/products/home-1/product-2.jpg' %}" alt="">
                                </a>
                                <div class="hover-btns">
                                    <a href="wishlist.html" class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                    <a href="compare.html" class="single-btn"><i class="ion-md-options"></i></a>
                                    <a href="#" class="single-btn" role="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                                </div>
                            </div>
                            <span class="product-badge badge--sell-chocolate"></span>
                        </div>
                        <div class="product-description text-center">
                            <h3 class="product__caption">
                                <a href="product-details.html">Gtyce Aliquam</a>
                            </h3>
                            <div class="rating-widget">
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star-half"></i></span>
                                <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                            </div>
                            <div class="product__price">
                                <span class="price--old">$150</span>
                                <span class="price--new">$150</span>
                            </div>
                            <div class="product__btn">
                                <a href="cart.html" class="theme-btn-outlined">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__single-slide">
                    <div class="belly-product">
                        <div class="product__image">
                            <img src="{% static 'image/products/home-1/product-6.jpg' %}" alt="">
                            <div class="hover-content">
                                <a href="product-details.html" class="hover-image">
                                    <img src="{% static 'image/products/home-1/product-1.jpg' %}" alt="">
                                </a>
                                <div class="hover-btns">
                                    <a href="wishlist.html" class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                    <a href="compare.html" class="single-btn"><i class="ion-md-options"></i></a>
                                    <a href="#" class="single-btn" type="button" data-toggle="modal"
                                        data-target="#quick-view"><i class="ion-md-open"></i></a>
                                </div>
                            </div>
                            <span class="product-badge badge--sell-chocolate"></span>
                        </div>
                        <div class="product-description text-center">
                            <h3 class="product__caption">
                                <a href="product-details.html">Lsce Aliquam</a>
                            </h3>
                            <div class="rating-widget">
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star-half"></i></span>
                                <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                            </div>
                            <div class="product__price">
                                <span class="price--old">$150</span>
                                <span class="price--new">$150</span>
                            </div>
                            <div class="product__btn">
                                <a href="cart.html" class="theme-btn-outlined">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__single-slide">
                    <div class="belly-product">
                        <div class="product__image">
                            <img src="{% static 'image/products/home-1/product-7.jpg' %}" alt="">
                            <div class="hover-content">
                                <a href="product-details.html" class="hover-image">
                                    <img src="{% static 'image/products/home-1/product-3.jpg' %}" alt="">
                                </a>
                                <div class="hover-btns">
                                    <a href="wishlist.html" class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                    <a href="compare.html" class="single-btn"><i class="ion-md-options"></i></a>
                                    <a href="#" class="single-btn" role="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                                </div>
                            </div>
                            <span class="product-badge badge--sell-chocolate"></span>
                        </div>
                        <div class="product-description text-center">
                            <h3 class="product__caption">
                                <a href="product-details.html">Rusce Hliquam</a>
                            </h3>
                            <div class="rating-widget">
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star-half"></i></span>
                                <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                            </div>
                            <div class="product__price">
                                <span class="price--old">$150</span>
                                <span class="price--new">$150</span>
                            </div>
                            <div class="product__btn">
                                <a href="cart.html" class="theme-btn-outlined">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- lo que dicen los clientes -->
    <section class="section-padding testimonial-section bg-image"
        data-bgimage="{% static 'image/bg-images/home-1/bg-testimonial.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6 col-md-8 offset-md-4">
                    <div class="testimonial-block testimonial-slider">
                        <div class="single-block">
                            <div class="section-title title-seperator--1">
                                <h2 class="testimonial-title">What Clients Say?</h2>
                            </div>
                            <p> " When a beautiful design is combined with powerful technology, it truly is an artwork.
                                I love how my website operates and looks with this theme. Thank you for the awesome
                                product. " ..</p>
                            <div class="testimonial_client-profile">
                                <div class="client-img">
                                    <img src="{% static 'image/others/client-img-1.jpg' %}" alt="">
                                </div>
                                <div class="client-details">
                                    <h6>Megdalena Valencia</h6>
                                </div>
                            </div>
                        </div>
                        <div class="single-block">
                            <div class="section-title title-seperator--1">
                                <h2 class="testimonial-title">What Clients Say?</h2>
                            </div>
                            <p> " When a beautiful design is combined with powerful technology, it truly is an artwork.
                                I love how my website operates and looks with this theme. Thank you for the awesome
                                product. " ..</p>
                            <div class="testimonial_client-profile">
                                <div class="client-img">
                                    <img src="{% static 'image/others/client-img-1.jpg' %}" alt="">
                                </div>
                                <div class="client-details">
                                    <h6>Megdalena Valencia</h6>
                                </div>
                            </div>
                        </div>
                        <div class="single-block">
                            <div class="section-title title-seperator--1">
                                <h2 class="testimonial-title">What Clients Say?</h2>
                            </div>
                            <p> " When a beautiful design is combined with powerful technology, it truly is an artwork.
                                I love how my website operates and looks with this theme. Thank you for the awesome
                                product. " ..</p>
                            <div class="testimonial_client-profile">
                                <div class="client-img">
                                    <img src="{% static 'image/others/client-img-1.jpg' %}" alt="">
                                </div>
                                <div class="client-details">
                                    <h6>Megdalena Valencia</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- nuestro blog -->
    <section class="home-blog section-padding space-db--30">
        <div class="container">
            <div class="section-title section-title-sep-1">
                <h2>From Our Blog</h2>
                <p>Update the latest article, to help customers capture the most authentic of the operation of the
                    store.</p>
            </div>
            <div class="mini-blog-slider mini-items-slider">
                <div class="single-blog">
                    <div class="belly-mini-blog">
                        <a href="blog-details.html" class="blog-image">
                            <img src="{% static 'image/mini-item-images/mini-blog-1.png' %}" alt="">
                            <div class="blog-badge">
                                <span>13</span>
                                Aug
                            </div>
                        </a>
                        <div class="blog-content">
                            <h4 class="blog-title"><a href="blog-details.html"> Net Bypi habent claritatem </a></h4>
                            <span class="blog-subtitle">Belly</span>
                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
                                vel illum dolore eu feugiat nulla facilisis.</p>
                            <div class="blog-btn">
                                <a href="blog-details.html" class="theme-btn-outlined theme-btn-outlined">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-blog">
                    <div class="belly-mini-blog">
                        <a href="blog-details.html" class="blog-image">
                            <img src="{% static 'image/mini-item-images/mini-blog-2.png' %}" alt="">
                            <div class="blog-badge">
                                <span>14</span>
                                feb
                            </div>
                        </a>
                        <div class="blog-content">
                            <h4 class="blog-title"><a href="blog-details.html"> Bypi velit non habent</a></h4>
                            <span class="blog-subtitle">Belly</span>
                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
                                vel illum dolore eu feugiat nulla facilisis.</p>
                            <div class="blog-btn">
                                <a href="blog-details.html" class="theme-btn-outlined theme-btn-outlined">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-blog">
                    <div class="belly-mini-blog">
                        <a href="blog-details.html" class="blog-image">
                            <img src="{% static 'image/mini-item-images/mini-blog-3.png' %}" alt="">
                            <div class="blog-badge">
                                <span>19</span>
                                jan
                            </div>
                        </a>
                        <div class="blog-content">
                            <h4 class="blog-title"><a href="blog-details.html">hendrerit in vulputate</a></h4>
                            <span class="blog-subtitle">Belly</span>
                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
                                vel illum dolore eu feugiat nulla facilisis.</p>
                            <div class="blog-btn">
                                <a href="blog-details.html" class="theme-btn-outlined theme-btn-outlined">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-blog">
                    <div class="belly-mini-blog">
                        <a href="blog-details.html" class="blog-image">
                            <img src="{% static 'image/mini-item-images/mini-blog-4.png' %}" alt="">
                            <div class="blog-badge">
                                <span>21</span>
                                sep
                            </div>
                        </a>
                        <div class="blog-content">
                            <h4 class="blog-title"><a href="blog-details.html">vulputate velit esse </a></h4>
                            <span class="blog-subtitle">Belly</span>
                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
                                vel illum dolore eu feugiat nulla facilisis.</p>
                            <div class="blog-btn">
                                <a href="blog-details.html" class="theme-btn-outlined theme-btn-outlined">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Site Bottom Starts -->
    <div class="site-bottom">
        <!-- Footer Starts -->
        {% include 'base/footer.html' %}
        <!-- Footer Ends -->
    </div>
    <!-- Site Footer Ends -->
</div>
<!-- Site Wrapper Ends -->
{% endblock %}